@import url("https://fonts.googleapis.com/css?family=Lato:400");
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
}
